<!-- <div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <app-parent></app-parent>
         
        </div>
    </div>
</div> -->

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <app-addserver></app-addserver>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <app-server-cards [element] = "serverObj"  *ngFor="let serverObj of serverElements"></app-server-cards>
        </div>
    </div>
</div>